{% extends 'base.html' %}
{% load static %}
{% block contents %}
<img src="{% static 'suit-man(edit).jpg' %}" alt="블로그 메인화면 이미지" style="width:100%;">
<div class="container">
    {% for post in posts %}
    <div class="card" style="margin-top:30px; margin-bottom:30px;">
        <div class="card-header">
            작성자: {{ post.author }} || 작성일: {{ post.pub_date }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.summary }} ...</p>
            <a href="{% url 'postDetail' post.id %}" class="btn btn-primary">자세히 보기</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">
    {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span> of </span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {% endif%}
</div>

{% endblock %}
