{% extends 'base.html' %}
{% load static %}
{% block contents %}
<img src="{% static 'suit-man(edit).jpg' %}" alt="블로그 메인화면 이미지" style="width:100%;">
<div class="container">
    {% for post in posts.all %}
    <div class="card" style="margin-top:30px; margin-bottom:30px;">
        <div class="card-header">
            {{ post.pub_date }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.summary }} ...</p>
            <a href="{% url 'postDetail' post.id %}" class="btn btn-primary">자세히 보기</a>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}