{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <div class="card" style="margin-top:30px; margin-bottom:30px;">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


</div>

{% endblock %}